* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: unset;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: #ffffff;
}

h1 {
    display:inline-block;
    text-align: right;
    width: 25%;
    font-size: 48px;
    background-color: #81898f;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 50px;
    border-bottom: white solid 2.5px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

header ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 10px 10px 10px 10px;
}

.content {
    width: 75%;
    margin-right: 50px;
    float: right;
}

.My-Work-Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    flex: 70%;
    float: right;
    align-items: center;
}

.flex-box {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 45%;
    height: 300px;
    margin: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(0.5);
    transition: 0.5s;
    border: #81898f solid 5px;
}

.first-site {
    display: flex;
    flex: 100%;
    height: 380px;
    width: 100%;
    background-image: url(../images/hero-bg.jpg);;
}

.first-site:hover {
    filter: opacity(1);
}

.second-site {
    background-image: url(../images/digital-marketing-meeting.jpg);
    width: 45%;
    flex: 50%;
}

.second-site:hover {
    filter: opacity(1);
}

.third-site {
    background-image: url(../images/black_cricut_explore_air_2_crop-800x400.jpg);
    width: 45%;
}

.third-site:hover {
    filter: opacity(1);
}

.fourth-site {
background-image: url(../images/pexels-fox-1038916.jpg);
width: 45%;
}

.fourth-site:hover {
    filter: opacity(1);
}

.fifth-site {
    background-image: url(../images/pexels-wendy-wei-1190297.jpg);
    width: 45%;
}

.fifth-site:hover {
    filter: opacity(1);
}

.Section-1 p {
    font-size: x-large;
    text-align: center;
    padding-top: 25px;
    font-weight: bold;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/StockSnap_DOLNAISHLZ.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.About-me {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #81898f;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.headings {
    display: flex;
    flex-direction: column;
}

.box {
    float: left;
    height: 300px;
    width: 275px;
    padding-right: 55px;
    color: white;
    border-right: white solid 7.5px;
    text-align: center;
    font-size: 2em;
    margin: 0 0 10px 50px;
}

.box2 {
    float: left;
    height: 1060px;
    width: 275px;
    padding-right: 55px;
    color: white;
    border-right: white solid 7.5px;
    text-align: right;
    font-size: 65px;
    margin: 10px 0 10px 50px;;
}

.box3 {
    float: left;
    height: 300px;
    width: 275px;
    padding-right: 55px;
    color: white;
    border-right: white solid 7.5px;
    text-align: center;
    font-size: 50px;
    margin: 10px 0 10px 50px;
}

.Contact-Me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #81898f;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
}

.Contact-Me h2 {
    margin-top: 25px;
    text-align: center;
}

#Contact-me img {
    height: 200px;
    width: 200px;
}

.LinkedIn:hover {
    background-color: white;
    opacity: 50%;
}

.LinkedIn {
    margin: 100px;
}

.GitHub:hover {
    background-color: white;
    opacity: 50%;
}

.Github {
    margin: 100px;
}

.About-me img {
    max-height: 200px;
}

.Contact-Me img {
    max-height: 200px;
}

.Contact-Me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
